.cover__subtitle {
    color: #FFFFFF;
    max-width: 360px;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 32px 0 0;
    position: relative;
}

@media screen and (max-width:768px) {
    .cover__subtitle {
        margin: 47px 0 0;
    }
}

@media screen and (max-width:368px) {
    .cover__subtitle {
        margin: 20px 0 0;
    }
}

@media screen and (max-width:320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}