.header {
    width: 92.5%;
    margin: 28px auto 56px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 30px;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .header {
        width: 90.6%;
    }

}

@media screen and (max-width:768px) {
    .header {
        width: 93.7%;
    }
}

@media screen and (max-width:320px) {
    .header {
        width: 90%;
    }
}