.place__paragraph-wrapper {
    display: grid;
    gap: 25px;
    grid-area: place__paragraph-wrapper;
}

@media screen and (max-width:720px) {
    .place__paragraph-wrapper {
        grid-area: place__paragraph-wrapper;
        text-align: start;
    }
}

@media screen and (max-width:320px) {
    .place__paragraph-wrapper {
        max-width: 288px;
        margin: 0 0 0 16px;
    }
}