.place__link {
    color: #FFFFFF;
    max-width: 456px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width:768px) {
    .place__link {
        max-width: 107px;
    }
}

@media screen and (max-width:320px) {
    .place__link {
        width: 100%;
    }
}