.cover__title {
    color: #FFFFFF;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    position: relative;
}

@media screen and (max-width:768px) {
    .cover__title {
        font-size: 69px;
    }
}

@media screen and (max-width:500px) {
    .cover__title {
        font-size: 49px;
        line-height: 61px;
    }
}

@media screen and (max-width:368px) {
    .cover__title {
        font-size: 43px;
        line-height: 55px;
    }
}

@media screen and (max-width:320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}