.place__url-heading {
    color: #AAAAAA;
    max-width: 456px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

@media screen and (max-width:768px) {
    .place__url-heading {
        max-width: 100%;
        line-height: 12px;
    }
}
